.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo a p{
    color:#171717;
    font-size:38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width:80%;
    height: 3px;
    border-radius: 10px;
    background:#FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;

}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a ;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.profile-logo{
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.profile-logo{
    display: flex;
    justify-content: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 12px;
}
.dropdown {
    position: relative;
}

.dropdown-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #551A8B;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    gap: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    z-index: 100;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item a {
    text-decoration: none;
    color: #626262;
    font-size: 18px;
}

.dropdown-item:hover {
    background: #f3f3f3;
}



