.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.loginsignup-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.loginsignup-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.loginsignup-feilds {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginsignup-feilds input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginsignup-feilds input:focus {
    border-color: #f14141;
    outline: none;
}

.loginsignup-feilds button {
    padding: 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #f14141;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.loginsignup-feilds button:hover {
    background-color: #d12f2f;
}

.loginsignup-login {
    margin-top: 15px;
    font-size: 14px;
    color: #656565;
    cursor: pointer;
}

.loginsignup-login span {
    color: #f14141;
    font-weight: 600;
}
