.productdisplay{
    display: flex;
    margin: 50px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-main-img{
    width: 586px;
    /* height: 700px; */
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-prices{
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-prices h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #f14141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.stock{
    color:#f14141;
    font-size: 20px;
    font-weight: 500;

}

